<h1>Bienvenidos a Crazy4Cats</h1>
<br>
<br>

<p>Esta página surge de la necesidad de compartir los bellos momentos
que nuestros felinos nos entregan. Aquí podrás subir tus aventuras 
con ellos incluyendo fotos o videos de hasta 30 segundos.

El único requisito es que sólo se publicarán aventuras de felinos.

Espero las disfrutes tanto como yo.</p>

<div style="text-align: center;">
    <%= image_tag 'cats5.jpg', alt: 'catscatscats', style: 'width: 20cm; height: 12cm;' %>
</div>